
*{
Max-width:600px;
}

body{
  Position:relative;
  text-align:center;

 
}


header{
  text-align:center;
  padding-top:10px;
  font-size:25px;
  


}

p{
  font-size:1.25rem;
  padding:20px;
Text-align:left;
Text-indent:25px;

}

#background{
  background-color:#c9bea1;
  height:100%;
  border-radius:25px;
  
}

.head{
Font-size:85px;
Color:#c7b9b1;
Position:relative;
Top:25px;

}

div{
  position:relative;
  Left:400px;
  top:60;
  
}

Div, p, header{
Position:relative;
Right:400px;

}

 Img{
Padding-top:30px;
}

